# MIT Patenti e Parco Macchine


Il Ministero dei Trasporti pubblica in formato aperto i dati relativi al parco macchine circolante e le patenti di guida regione per regione.

### Parco circolante
- [Parco Circolante](http://dati.mit.gov.it/catalog/dataset/parco-circolante-dei-veicoli)

Questo dataset contiene il parco circolante dei veicoli su strada ( categorie Autoveicoli e Motoveicoli ) diviso per regione estratto dall'archivio nazionale dei veicoli gestito dalla Motorizzazione.

Attenzione: Data la grande mole di dati l'anteprima delle risorse, a seconda della connessione e del traffico sul server, può richiedere anche alcuni minuti.

I dati si riferiscono alla situazione del parco vetture al 31/10/2017

### Patenti di guida

- [Patenti di guida](http://dati.mit.gov.it/catalog/dataset/patenti)

Descrizione: Il dataset contiene l'elenco delle patenti di guida attive, ossia delle autorizzazioni amministrative alla guida di autoveicoli e motoveicoli, provenienti dall'archivio nazionale abilitati alla guida su strada gestito dalla Motorizzazione.

Attenzione: Data la grande mole di dati l'anteprima delle risorse, a seconda della connessione e del traffico sul server, può richiedere anche alcuni minuti.

I dati si riferiscono alla situazione dell'archivio dei conducenti al 26/05/2017

In [1]:
import pandas as pd
import os
import glob

## Patenti

In [3]:
folder_dati = "../data/patenti"
folder = glob.glob('./'+folder_dati+'/*.csv')

list_ =[]
for file_ in folder:
    print (file_)
    name = (os.path.basename(file_)).split(".")[0]
    
    #leggo il dataset originario
    df = pd.read_csv(file_, sep=",", encoding="ISO-8859-1", decimal=",",low_memory=False)
    list_.append(df)
patenti = pd.concat(list_)
len(patenti)

./../data/patenti/patenti_Molise.csv
./../data/patenti/patenti_ValleAosta.csv

286166

In [14]:
patenti.dtypes

id                               int64
anno_nascita                   float64
comune_residenza                object
provincia_residenza             object
regione_residenza               object
stato_estero_nascita            object
sesso                           object
categoria_patente               object
data_rilascio                   object
abilitato_a                     object
data_abilitazione_a             object
data_scadenza                   object
stato_estero_primo_rilascio     object
punti_patente                    int64
dtype: object

In [15]:
patenti.head(10)

,id,anno_nascita,comune_residenza,provincia_residenza,regione_residenza,stato_estero_nascita,sesso,categoria_patente,data_rilascio,abilitato_a,data_abilitazione_a,data_scadenza,stato_estero_primo_rilascio,punti_patente
0,29768021,1969.0,PIZZONE,ISERNIA,MOLISE,NaN,F,B,1990-10-26 00:00:00,N,1990-10-26 00:00:00,2020-12-20 00:00:00,NaN,30
1,50428563,1983.0,BARANELLO,CAMPOBASSO,MOLISE,NaN,F,B,2002-11-25 00:00:00,N,2002-11-25 00:00:00,2023-08-11 00:00:00,NaN,30
2,47513723,1977.0,VENAFRO,ISERNIA,MOLISE,NaN,F,B,1998-06-29 00:00:00,N,1998-06-29 00:00:00,2018-06-24 00:00:00,NaN,30
3,51766645,1984.0,TORO,CAMPOBASSO,MOLISE,NaN,F,B,2004-06-21 00:00:00,N,2014-06-17 00:00:00,2024-12-28 00:00:00,NaN,30
4,34715483,1969.0,ORATINO,CAMPOBASSO,MOLISE,NaN,M,DE,1990-02-02 00:00:00,S,2015-01-23 00:00:00,2020-01-22 00:00:00,NaN,30
5,54158448,1986.0,TERMOLI,CAMPOBASSO,MOLISE,NaN,F,B,2005-06-04 00:00:00,N,2015-06-10 00:00:00,2025-08-09 00:00:00,NaN,30
6,38879641,1942.0,RICCIA,CAMPOBASSO,MOLISE,NaN,F,B,1984-07-09 00:00:00,S,2016-03-01 00:00:00,2018-03-01 00:00:00,NaN,30
7,34834217,1964.0,TERMOLI,CAMPOBASSO,MOLISE,NaN,F,B,1985-11-21 00:00:00,S,2016-03-31 00:00:00,2022-03-15 00:00:00,NaN,30
8,34725697,1977.0,BOIANO,CAMPOBASSO,MOLISE,NaN,F,B,1997-10-28 00:00:00,N,1997-10-28 00:00:00,2017-09-24 00:00:00,NaN,30
9,47439931,1957.0,AGNONE,ISERNIA,MOLISE,NaN,NaN,B,1985-12-31 00:00:00,S,1985-12-31 00:00:00,2019-02-23 00:00:00,NaN,30

### Campi di interesse Parco Macchine: 

- punti_patenti

In [ ]:
patenti.punti_patente.value_counts()

## Parco Macchine

In [2]:
folder_dati = "../data/parco"
folder = glob.glob('./'+folder_dati+'/*.csv')

list_ =[]
for file_ in folder:
    print (file_)
    name = (os.path.basename(file_)).split(".")[0]
    
    #leggo il dataset originario
    df = pd.read_csv(file_, sep=",", encoding="ISO-8859-1", decimal=",",low_memory=False)
    list_.append(df)
parco = pd.concat(list_)
len(parco)

./../data/parco/parco_circolante_Calabria.csv
./../data/parco/parco_circolante_Molise.csv
./../data/parco/parco_circolante_EmiliaRomagna.csv
./../data/parco/parco_circolante_Veneto.csv
./../data/parco/parco_circolante_Umbria.csv
./../data/parco/parco_circolante_Sardegna.csv
./../data/parco/parco_circolante_Liguria.csv
./../data/parco/parco_circolante_Puglia.csv
./../data/parco/parco_circolante_Abruzzo.csv
./../data/parco/parco_circolante_Lazio.csv
./../data/parco/parco_circolante_Piemonte.csv
./../data/parco/parco_circolante_FriuliVeneziaGiulia.csv
./../data/parco/parco_circolante_Lombardia.csv
./../data/parco/parco_circolante_Marche.csv
./../data/parco/parco_circolante_ValleAosta.csv
./../data/parco/parco_circolante_Basilicata.csv
./../data/parco/parco_circolante_Toscana.csv
./../data/parco/parco_circolante_TrentinoAltoAdige.csv
./../data/parco/parco_circolante_Sicilia.csv
./../data/parco/parco_circolante_Campania.csv

52165189

In [4]:
parco.dtypes

id                           int64
progressivo                  int64
tipo_veicolo                object
destinazione                object
uso                         object
comune_residenza            object
provincia_residenza         object
regione_residenza           object
eta_intestatario           float64
sesso                       object
marca                       object
cilindrata                  object
alimentazione               object
kw                         float64
data_immatricolazione       object
classe_euro                float64
emissioni_co2               object
massa_complessiva          float64
revisione_in_regola         object
assicurazione_in_regola     object
dtype: object

In [3]:
len(parco)

52165189

In [5]:
parco.tipo_veicolo.value_counts()

A    44961663
M     7203526
Name: tipo_veicolo, dtype: int64

In [7]:
parco.destinazione.value_counts()

AUTOVETTURA PER TRASPORTO DI PERSONE                     39161407
MOTOCICLO PER TRASPORTO PERSONE                           6847043
AUTOCARRO PER TRASPORTO DI COSE                           4151272
AUTOVEIC.TRASP.PROMISCUO PERSONE/COSE                      601596
AUTOCARAVAN                                                279698
AUTOVEICOLO PER TRASPORTO SPECIFICO                        274121
TRICICLO PER TRASPORTO COSE                                211595
AUTOVEICOLO PER USO SPECIALE                               193042
TRATTORE PER SEMIRIMORCHIO                                 167726
AUTOBUS PER TRASPORTO DI PERSONE                            96479
QUADRICICLO PER TRASP. DI PERSONE                           83499
QUADRICICLO PER TRASP.DI COSE                               37320
TRICICLO PER TRASPORTO DI PERSONE                           10012
AUTOVEICOLO USO ESCLUSIVO DI POLIZIA                         7849
TRAS.SPECIFICO PERSONE PART.CONDIZIONI                       4964
MOTOVEICOLO USO ESCLUSIVO DI POLIZIA                         2437
TRICICLO PER TRASPORTO SPECIFICO                             2128
TRICICLO PER USO SPECIALE                                     694
TRATTORE STRADALE PER RIMORCHIO                               488
AUTOVEICOLO IN SERVIZIO PUBBLICO DI LINEA INTEGRATIVO         346
TRICICLO PER TRASPORTO PROMISCUO                              135
QUADRICICLO PER USO SPECIALE                                  118
QUADRICICLO TRASP. SPECIFICO                                  111
VEICOLO SPECIALE USO AUTOSCUOLA                                77
AUTOVEICOLO PER USO SPECIALE DELLA POLIZIA LOCALE              29
Name: destinazione, dtype: int64

In [8]:
parco.uso.value_counts()

PROPRIO                                  50324634
DI TERZI DA LOCARE SENZA CONDUC.          1171487
DI TERZI CON AUTORIZZAZIONE LIBERA         280779
DI TERZI CON AUTORIZZAZIONI VINCOLATE      213182
DI TERZI                                    80944
DI TERZI DA NOLEGGIO CON CONDUC.            58839
USO SPECIALE                                 4277
PRIV.,LOCAZIONE FAC. COMPERA                    4
Name: uso, dtype: int64

In [10]:
parco.marca.value_counts()

FIAT - INNOCENTI                                                11791694
FORD                                                             3166917
VOLKSWAGEN                                                       2970094
OPEL                                                             2519635
RENAULT                                                          2385051
LANCIA - AUTOBIANCHI                                             1984195
PEUGEOT                                                          1885137
CITROEN                                                          1753326
MERCEDES                                                         1713200
TOYOTA                                                           1598859
HONDA                                                            1332819
ALFA ROMEO                                                       1228145
BMW                                                              1209371
NISSAN                                                           1202021
AUDI                                                             1149314
PIAGGIO                                                          1084541
IVECO - FIAT                                                     1005531
SUZUKI                                                            887619
HYUNDAI                                                           716250
YAMAHA                                                            696322
SMART                                                             560678
CHEVROLET                                                         465063
KIA                                                               435307
SEAT                                                              433462
KYMCO                                                             391701
APRILIA                                                           356122
CHRYSLER                                                          331799
DACIA                                                             328074
VOLVO                                                             327990
MINI                                                              309537
                                                                  ...
OMCI                                                                 305
JIANGSU DAFIER MOTORCYCLE CO. LTD.                                   271
REGAL-RAPTOR                                                         230
ZHEYIANG LINGYU VEHICLE CO. LTD                                      178
CARPIMOTOR IMPORT EXPORT                                             125
MICROCAR                                                             112
SETRA                                                                110
MOBILVETTA                                                           107
LAMBERT                                                              102
CASALINI                                                              97
BUICK                                                                 89
MARUTI                                                                66
KREIDLER                                                              29
TRIGANO                                                               22
DE TOMASO                                                             18
LANCIA - AUTOBIANCHI                                                  17
ELLEBI                                                                17
CAMPER MONOSCOCCA S.R.L.                                              13
CARGOBULL                                                             13
MAURI BUS                                                             10
TIEMME RIMORCHI S.R.L.                                                10
SEA                                                                    9
AUTOSAN                                                                7
INDUSTRIE RIMORCHI VERONA                                              6
PIACENZA                                                               4
ADRIA MOBIL                                                            4
PIACENZA                                                               4
BIGA'                                                                  3
DUCATI ENERGIA                                                         3
FIAT - INNOCENTI                                                       2
Name: marca, Length: 152, dtype: int64

In [ ]:
parco.sesso.value_counts()

In [9]:
parco.tipo_veicolo.value_counts()

A    44961663
M     7203526
Name: tipo_veicolo, dtype: int64

In [5]:
parco.regione_residenza.value_counts()

LOMBARDIA                8214282
LAZIO                    5341091
CAMPANIA                 4591254
SICILIA                  4487250
VENETO                   4052513
EMILIA-ROMAGNA           3859415
PIEMONTE                 3858373
TOSCANA                  3499371
PUGLIA                   3050018
CALABRIA                 1631868
TRENTINO-ALTO-ADIGE      1397194
LIGURIA                  1383184
MARCHE                   1379921
SARDEGNA                 1363193
ABRUZZO                  1170438
FRIULI-VENEZIA_GIULIA    1042494
UMBRIA                    824464
BASILICATA                476862
MOLISE                    289473
VALLE-D'AOSTA             252531
Name: regione_residenza, dtype: int64

In [ ]:
parco.destinazione.value_counts()

### Campi di interesse Parco Macchine: 

- revisione_in_regola, 

- assicurazione_in_regola

In [4]:
parco.revisione_in_regola.value_counts()

S    39096194
N    13068995
Name: revisione_in_regola, dtype: int64

In [3]:
parco.assicurazione_in_regola.value_counts()

S    38151309
N    14013880
Name: assicurazione_in_regola, dtype: int64

In [ ]:
##
- Dove si trovano le auto con le revisioni da effettuare?
- Dove si trovano le auto con l'assicurazione da affettuare?
- Fare normalizzazione tra abitanti e veicoli
- vedere quali sono le regioni più inquinanti rapporttate con abitanti?

## Comune di residenza: join sui due dataset

In [5]:
full = parco.merge(on='comune_residenza', how='inner')

TypeError: merge() missing 1 required positional argument: 'right'