# MIT Patenti e Parco Macchine


Il Ministero dei Trasporti pubblica in formato aperto i dati relativi al parco macchine circolante e le patenti di guida regione per regione.

### Parco circolante
- [Parco Circolante](http://dati.mit.gov.it/catalog/dataset/parco-circolante-dei-veicoli)

Questo dataset contiene il parco circolante dei veicoli su strada ( categorie Autoveicoli e Motoveicoli ) diviso per regione estratto dall'archivio nazionale dei veicoli gestito dalla Motorizzazione.

Attenzione: Data la grande mole di dati l'anteprima delle risorse, a seconda della connessione e del traffico sul server, può richiedere anche alcuni minuti.

I dati si riferiscono alla situazione del parco vetture al 31/10/2017

### Patenti di guida

- [Patenti di guida](http://dati.mit.gov.it/catalog/dataset/patenti)

Descrizione: Il dataset contiene l'elenco delle patenti di guida attive, ossia delle autorizzazioni amministrative alla guida di autoveicoli e motoveicoli, provenienti dall'archivio nazionale abilitati alla guida su strada gestito dalla Motorizzazione.

Attenzione: Data la grande mole di dati l'anteprima delle risorse, a seconda della connessione e del traffico sul server, può richiedere anche alcuni minuti.

I dati si riferiscono alla situazione dell'archivio dei conducenti al 26/05/2017

In [1]:
import pandas as pd
import os
import glob

## Patenti

In [3]:
folder_dati = "../data/patenti"
folder = glob.glob('./'+folder_dati+'/*.csv')

list_ =[]
for file_ in folder:
    print (file_)
    name = (os.path.basename(file_)).split(".")[0]
    
    #leggo il dataset originario
    df = pd.read_csv(file_, sep=",", encoding="ISO-8859-1", decimal=",",low_memory=False)
    list_.append(df)
patenti = pd.concat(list_)
len(patenti)

./../data/patenti/patenti_Molise.csv
./../data/patenti/patenti_ValleAosta.csv

286166

In [14]:
patenti.dtypes

id                               int64
anno_nascita                   float64
comune_residenza                object
provincia_residenza             object
regione_residenza               object
stato_estero_nascita            object
sesso                           object
categoria_patente               object
data_rilascio                   object
abilitato_a                     object
data_abilitazione_a             object
data_scadenza                   object
stato_estero_primo_rilascio     object
punti_patente                    int64
dtype: object

In [15]:
patenti.head(10)

,id,anno_nascita,comune_residenza,provincia_residenza,regione_residenza,stato_estero_nascita,sesso,categoria_patente,data_rilascio,abilitato_a,data_abilitazione_a,data_scadenza,stato_estero_primo_rilascio,punti_patente
0,29768021,1969.0,PIZZONE,ISERNIA,MOLISE,NaN,F,B,1990-10-26 00:00:00,N,1990-10-26 00:00:00,2020-12-20 00:00:00,NaN,30
1,50428563,1983.0,BARANELLO,CAMPOBASSO,MOLISE,NaN,F,B,2002-11-25 00:00:00,N,2002-11-25 00:00:00,2023-08-11 00:00:00,NaN,30
2,47513723,1977.0,VENAFRO,ISERNIA,MOLISE,NaN,F,B,1998-06-29 00:00:00,N,1998-06-29 00:00:00,2018-06-24 00:00:00,NaN,30
3,51766645,1984.0,TORO,CAMPOBASSO,MOLISE,NaN,F,B,2004-06-21 00:00:00,N,2014-06-17 00:00:00,2024-12-28 00:00:00,NaN,30
4,34715483,1969.0,ORATINO,CAMPOBASSO,MOLISE,NaN,M,DE,1990-02-02 00:00:00,S,2015-01-23 00:00:00,2020-01-22 00:00:00,NaN,30
5,54158448,1986.0,TERMOLI,CAMPOBASSO,MOLISE,NaN,F,B,2005-06-04 00:00:00,N,2015-06-10 00:00:00,2025-08-09 00:00:00,NaN,30
6,38879641,1942.0,RICCIA,CAMPOBASSO,MOLISE,NaN,F,B,1984-07-09 00:00:00,S,2016-03-01 00:00:00,2018-03-01 00:00:00,NaN,30
7,34834217,1964.0,TERMOLI,CAMPOBASSO,MOLISE,NaN,F,B,1985-11-21 00:00:00,S,2016-03-31 00:00:00,2022-03-15 00:00:00,NaN,30
8,34725697,1977.0,BOIANO,CAMPOBASSO,MOLISE,NaN,F,B,1997-10-28 00:00:00,N,1997-10-28 00:00:00,2017-09-24 00:00:00,NaN,30
9,47439931,1957.0,AGNONE,ISERNIA,MOLISE,NaN,NaN,B,1985-12-31 00:00:00,S,1985-12-31 00:00:00,2019-02-23 00:00:00,NaN,30

### Campi di interesse Parco Macchine: 

- punti_patenti

In [21]:
patenti.punti_patente.value_counts()

30    175837
28     19809
27     16316
26     13568
24     13158
29     11751
20      9236
25      8650
22      6766
21      5470
23      1865
19       722
17       638
18       536
15       363
16       324
14       285
12       145
13       135
11       119
0        103
10        95
9         63
8         53
7         47
6         32
5         29
4         17
3         15
1         11
2          8
Name: punti_patente, dtype: int64

## Parco Macchine

In [4]:
folder_dati = "../data/parco"
folder = glob.glob('./'+folder_dati+'/*.csv')

list_ =[]
for file_ in folder:
    print (file_)
    name = (os.path.basename(file_)).split(".")[0]
    
    #leggo il dataset originario
    df = pd.read_csv(file_, sep=",", encoding="ISO-8859-1", decimal=",",low_memory=False)
    list_.append(df)
parco = pd.concat(list_)
len(parco)

./../data/parco/parco_circolante_ValleAosta.csv
./../data/parco/parco_circolante_Molise.csv

542004

In [19]:
parco.dtypes

id                           int64
progressivo                  int64
tipo_veicolo                object
destinazione                object
uso                         object
comune_residenza            object
provincia_residenza         object
regione_residenza           object
eta_intestatario           float64
sesso                       object
marca                       object
cilindrata                  object
alimentazione               object
kw                         float64
data_immatricolazione       object
classe_euro                  int64
emissioni_co2               object
massa_complessiva          float64
revisione_in_regola         object
assicurazione_in_regola     object
dtype: object

In [20]:
parco.head(10)

,id,progressivo,tipo_veicolo,destinazione,uso,comune_residenza,provincia_residenza,regione_residenza,eta_intestatario,sesso,marca,cilindrata,alimentazione,kw,data_immatricolazione,classe_euro,emissioni_co2,massa_complessiva,revisione_in_regola,assicurazione_in_regola
0,48112676,52165095,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,GIGNOD,AOSTA,VALLE-D'AOSTA,56.0,F,TOYOTA,1598.00,BENZ,81.0,2006-12-06 00:00:00,4,168,1655.0,S,S
1,48112675,52164841,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,SARRE,AOSTA,VALLE-D'AOSTA,45.0,F,CITROEN,1587.00,BENZ,80.0,2006-12-06 00:00:00,4,172,1800.0,N,S
2,48112674,52164049,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,NUS,AOSTA,VALLE-D'AOSTA,56.0,M,FIAT - INNOCENTI,1242.00,BENZ,44.0,2004-11-17 00:00:00,4,156,1425.0,S,S
3,48112673,52162832,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,AOSTA,AOSTA,VALLE-D'AOSTA,57.0,F,SKODA,1198.00,BENZ,47.0,2005-12-29 00:00:00,4,144,1565.0,S,S
4,48112672,52162365,A,AUTOVETTURA PER TRASPORTO DI PERSONE,DI TERZI DA LOCARE SENZA CONDUC.,AOSTA,AOSTA,VALLE-D'AOSTA,NaN,NaN,SMART,999.00,BENZ,45.0,2009-03-10 00:00:00,4,103,1020.0,N,N
5,48112671,52162159,A,AUTOCARRO PER TRASPORTO DI COSE,DI TERZI DA LOCARE SENZA CONDUC.,AOSTA,AOSTA,VALLE-D'AOSTA,NaN,NaN,FIAT - INNOCENTI,1910.00,GASOL,59.0,2006-09-27 00:00:00,3,NaN,1915.0,N,N
6,48112670,52162052,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,VILLENEUVE,AOSTA,VALLE-D'AOSTA,66.0,M,FORD,1242.00,BENZ,55.0,2006-09-14 00:00:00,4,142,1520.0,S,S
7,48112669,52161520,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,GIGNOD,AOSTA,VALLE-D'AOSTA,60.0,F,FORD,1242.00,BENZ,55.0,2005-10-28 00:00:00,4,147,1530.0,S,S
8,48112668,52161243,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,GRESSAN,AOSTA,VALLE-D'AOSTA,47.0,M,TOYOTA,1298.00,BENZ,64.0,2006-12-12 00:00:00,4,141,1480.0,S,S
9,48112667,52160783,A,AUTOVETTURA PER TRASPORTO DI PERSONE,PROPRIO,ISSOGNE,AOSTA,VALLE-D'AOSTA,56.0,F,FIAT - INNOCENTI,1242.00,BENZ,48.0,2005-12-27 00:00:00,4,140,1590.0,S,S

### Campi di interesse Parco Macchine: 

- revisione_in_regola, 

- assicurazione_in_regola

In [22]:
parco.revisione_in_regola.value_counts()

S    426167
N    115837
Name: revisione_in_regola, dtype: int64

In [23]:
parco.assicurazione_in_regola.value_counts()

S    401844
N    140160
Name: assicurazione_in_regola, dtype: int64